tensorflow==2.18.1
jax==0.4.38
chex==0.1.90
numpy==1.26.4
opencv-python==4.11.0.86
dmlab2d==1.0.2
absl-py
dm-env==1.6
dm-tree==0.1.10
immutabledict
ml-collections
networkx
pandas
pygame
reactivex
pytest==9.1.1
pytest-xdist
pytest-cov
pyink
pylint
ruff
